*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    background-color: #B3C8CF;
}

div .content{
    display: flex;

    align-content: center;
    background-color: #B3C8CF;
}
h1{
    display: flex;
    justify-content: center;
}

div .isi{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

div .canvas{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
}

li {
  list-style-type: none;
}

div .informasi{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.histogram-img {
    max-width: 300px;
    width: 70%;
    height: auto;
}
